---

# ******************** Data Types and Structures Questions **********************



---

## 1. What are data structures, and why are they important?
* Data structures are organized ways to store, manage, and retrieve data efficiently in a computer.

* Data Structures important because:
    1. Efficient Data Management
    2. Improve Performance(like speed, memory use and cpu work)
    3. Backbone of Algorithms(sorting, searching, pathfinding, machine learning)
    4. Better Program Design

## 2.Explain the difference between mutable and immutable data types with examples.
* Mutable data types can be changed after creation (e.g., list, dictionary).
* Immutable data types cannot be changed once created (e.g., string, tuple, int).

## 3.What are the main differences between lists and tuples in Python?
* Lists are mutable, slower, and use [] for list creation.
* Tuples are immutable, faster, and use () for tuples creation.

## 4.Describe how dictionaries store data.
* Dictionaries store data as key-value pairs using a hash table, It allows fast lookups by key.

## 5.Why might you use a set instead of a list in python?
* Sets automatically remove duplicates and allow faster searching element than lists.

## 6.What is a string in python, and how it is different from a list?
* A string is an immutable sequence of characters, but a list is a mutable sequence of items.

## 7.How do tuples ensure data integrity in Python?
* Tuples are immutable, so their values cannot be changed accidentally, ensuring data remains constant.

## 8.What is a hash table, and how does it relate to dictionaries in Python?
* A hash table stores data using a computed hash index.
* Python dictionaries use hash tables to map keys to values quickly.

## 9.Can lists contain different data types in Python?
* Yes. A list can store mixed data types such as integers, strings, floats, or even other lists.

## 10.Explain why strings are immutable in Python?
* Strings are immutable for memory efficiency, security, and to allow safe sharing between programs.

## 11.What advantages do dictionaries offer over lists for certain tasks?
* Dictionaries provide fast access using keys and are ideal for structured data, unlike lists which use indexes.

## 12.Describe a scenario where using a tuple would be preferable over a list.
* Use a tuple when you need fixed data, like coordinates (x, y) or constant settings, to prevent modification.

## 13.How do sets handle duplicate values in Python?
* Sets automatically remove duplicates, storing only unique elements.

## 14.How does the “in” keyword work differently for lists and dictionaries?
* For lists, in checks for values.
For dictionaries, in checks for keys, not values.

## 15.Can you modify the elements of a tuple? Explain why or why not?
* No. Tuples are immutable, meaning their elements cannot be changed after creation.

## 16.What is a nested dictionary, and give an example of its use case?
* A nested dictionary is a dictionary inside another dictionary, useful for storing structured data like student → marks.

  Example: {"student": {"math": 90, "science": 85}}.

## 17.Describe the time complexity of accessing elements in a dictionary?
* Dictionary access is O(1) on average because of hash table indexing.

## 18.In what situations are lists preferred over dictionaries?
* Lists are preferred when data is ordered, indexed, or when duplicates are allowed.

## 19.Why are dictionaries considered unordered, and how does that affect data retrieval?
* Dictionaries do not store elements by position; they store by key hash, so you cannot rely on index-based order.

## 20.Explain the difference between a list and a dictionary in terms of data retrieval.
* Lists retrieve data using indexes, while dictionaries retrieve data using keys, making dictionary lookups faster.





---

# ***************************** Practical Questions *********************************



---

## 1. Write a code to create a string with your name and print it.

In [ ]:
name = "Subhajit"
print(name)

Subhajit

## 2.Write a code to find the length of the string "Hello World".

In [ ]:
word = "Hello World"
length = len(word)
print(length)
# or
print(len(word))

11
11

## 3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
print(string[0:3])

Pyt

## 4.Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
print(text.upper())

HELLO

## 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
print(text.replace("apple", "Orange"))

I like Orange

## 6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
Num_list = []
for i in range(1,6):
  Num_list.append(i)

print(Num_list)

[1, 2, 3, 4, 5]

## 7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
List = [1, 2, 3, 4]
List.append(10)
print(List)

[1, 2, 3, 4, 10]

## 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
List = [1, 2, 3, 4, 5]
List.remove(3)
print(List)

[1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
List = ['a', 'b', 'c', 'd']
print(List[1])

b

## 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
rev_List = [10, 20, 30, 40, 50]
rev_List.reverse()
print(rev_List)

[50, 40, 30, 20, 10]

## 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
Tuple = (100, 200, 300)
print(Tuple)
print(type(Tuple))

(100, 200, 300)
<class 'tuple'>

##  12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
Last_elm = ('red', 'green', 'blue', 'yellow')
print(Last_elm[-1])

yellow

##  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
min_elm = (10, 20, 5, 15)
print(min(min_elm))

5

##  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
Index_find = ('dog', 'cat', 'rabbit')
print(Index_find.index("cat"))

1

##  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruit_tuple = ("bannana", "kiwi", "apple")

if "kiwi" in fruit_tuple:
  print("kiwi is present in the friut tuple")
else:
  print("kiwi is not present in the fruit tuple")

kiwi is present in the friut tuple

##  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
create_set = {'a', 'b', 'c'}
print(create_set)

{'a', 'b', 'c'}

##  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [4]:
clear_set = {1, 2, 3, 4, 5}
clear_set.clear()
print(clear_set)

set()

##  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [5]:
remove_set = {1, 2, 3, 4}
remove_set.remove(4)
print(remove_set)

{1, 2, 3}

##  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [10]:
union_set1 = {1, 2, 3}
union_set2 = {3, 4, 5}

new_set = union_set1.union(union_set2)
print("unnion of two set is:", new_set)

unnion of two set is: {1, 2, 3, 4, 5}

##  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [11]:
union_set1 = {1, 2, 3}
union_set2 = {3, 4, 5}

new_set = union_set1.intersection(union_set2)
print("Intersection of two set is:", new_set)

Intersection of two set is: {3}

##  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [16]:
details_dict = {
    "name" : "subhajit",
    "age" : 24,
    "city" : "khargapur"
}

print("Details of the dictionary is:\n", details_dict)

Details of the dictionary is:
 {'name': 'subhajit', 'age': 24, 'city': 'khargapur'}

##  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [18]:
new_dict =  {'name': 'John', 'age': 25}
new_dict["country"] = "USA"
print(new_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

##  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [19]:
name_dict = {
    "name" : "Alice",
    "age" : 30
  }

print(name_dict["name"])

Alice

##  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [22]:
remove_dict = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'}

remove_dict.pop("age")
print("remove age item from dictionary: ", remove_dict)

remove age item from dictionary:  {'name': 'Bob', 'city': 'New York'}

##  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [23]:
check_dict = {
    'name': 'Alice',
    'city': 'Paris'
}

if 'city' in check_dict.keys():
  print("Key 'city' is exists")
else:
  print("Key'city' is not exists")

Key 'city' is exists

##  26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [8]:
value = input("Enter a value: ")

List_val = list(value)
tuple_val = tuple(value)
dict_val = {"key" : value}

print("List: ",List_val, "\nTuple: ", tuple_val, "\nDictionary: ", dict_val)

Enter a value: apple
List:  ['a', 'p', 'p', 'l', 'e']
Tuple:  ('a', 'p', 'p', 'l', 'e')
Dictionary:  {'key': 'apple'}

##  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [6]:
import random
rand_list = []

for i in range(5):
  rand_list.append(random.randint(1, 100))

rand_list.sort()
print(rand_list)

[13, 20, 56, 76, 99]

## 28. Write a code to create a list with strings and print the element at the third index.

In [8]:
List_string = ["dog", "cat", "rat", "lion", "fox", "crow"]
print(List_string[2])

rat

##  29. Write a code to combine two dictionaries into one and print the result.

In [13]:
dict1 = {
    "name" : "Subhajit",
    "title" : "Porya"
}

dict2 = {
    "age" : 26,
    "state" : "Bengal"
}

dict1.update(dict2)
print(dict1)

{'name': 'Subhajit', 'title': 'Porya', 'age': 26, 'state': 'Bengal'}

##  30. Write a code to convert a list of strings into a set.

In [7]:
cvt_list = ["dog", "cat", "rat", "lion"]
cvt_set = set(cvt_list)
print(cvt_set)

{'cat', 'dog', 'lion', 'rat'}